.splash-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 62%;
  background-image: url('../../assets/images/splash1.svg');
  background-position: center;
  background-color: #404EED;
  align-items: center;
  justify-content: end;
}

.splash-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 80%;
}

.splash-wrapper > img {
  width: 40em;
  justify-self: flex-start;
}

.splash-wrapper > img:first-child {
  margin-left: -5em;
}

.splash-message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-family: 'Seymour One', sans-serif;
  height: 100%;
  min-width: 37%;
}

.splash-message > h1 {
  font-weight: 900;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}
.splash-message > p {
  font-weight: 400;
  font-family: gg sans,Inter,sans-serif;
  text-align: center;
  font-size: 1.125rem;
  line-height: 2rem;
  width: 88%;
  margin-bottom: 5em;
}

.demo-button {
  border: none;
  padding: 1em 2em 1em 2em;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transform: color;
}

.demo-button:hover {
  color: #404EED;
  transition: .3s ease-in-out;
}
